<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="padding: 12px 24px;">Welcome to AI front office webmail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-center">
    <ion-card class="login-card">
      <ion-card-title>Please login to Webmail</ion-card-title>
      <ion-card-header>
        <ion-card-subtitle>
          Or register your email below.<br/> We are proud that we run it on amazon cloud. So we provide your 100M is free.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">User name</ion-label>
            <ion-input 
            formControlName="userName" 
            autocomplete="none" 
            style="font-size: 1.15rem; font-weight: 400; "></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>

            <ion-input [type]="showPassword ? 'text' : 'password'"
            formControlName="password" 
            autocomplete="current-password" 
            style="font-size: 1.15rem; font-weight: 400;"
            ></ion-input>

            <ion-button fill="clear" slot="end" size="small" (click)="togglePasswordVisibility()" type="button">
              <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-item>
          
          <ion-item lines="none" style="--padding-start: 0; --inner-padding-end: 0;">
            <ion-checkbox 
              formControlName="rememberMe" 
              slot="start"
              style="margin-right: 8px;">
            </ion-checkbox>
            <ion-label style="font-size: 1rem; color: var(--ion-text-color);">Remember me</ion-label>
          </ion-item>
          <div class="login-actions">
            <ion-button expand="block" type="submit" color="primary">Login</ion-button>
            <!-- href="http://www.cmsmanhattan.com/Authorization.jsp?Login=" -->
            <!-- <ion-button expand="block" fill="outline" color="primary" >Registration</ion-button> -->
          </div>
          <div class="login-message" *ngIf="message">{{ message }}</div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="login-footer">
    <p>Copyright: Copyright (c) 2002-2025</p>
    <p>
      <!-- <a href="http://www.cmsmanhattan.com" target="_blank">CENTER BUSINESS SOLUTIONS INC</a> - -->
      <span style="color: #3880ff; text-decoration: underline; cursor: default;">
        CENTER BUSINESS SOLUTIONS INC
      </span>
      -
      <span class="support-email">support&#64;cmsmanhattan.com</span>
    </p>
  </div>
</ion-content>







 
