 
<mat-grid-list cols="5"  rowHeight="10:1">

  <mat-grid-tile   colspan="5"  >
    <u>abc1</u>
  </mat-grid-tile>


    <mat-grid-tile class="g1"    rowspan="25"  >
     <app-folders> </app-folders>
    </mat-grid-tile>
 
     <mat-grid-tile class="g2"  colspan="3" rowspan="25"   >
      <app-message-list> </app-message-list>
    </mat-grid-tile>
 
     <mat-grid-tile   rowspan="25"  >
  	<app-banner> </app-banner>
    </mat-grid-tile>

  
  <mat-grid-tile   colspan="5"  >
    <u>down</u>
  </mat-grid-tile>

</mat-grid-list>
